<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>

  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- Inicio Form -->
  <div>
    <div class="table-responsive text-center">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Nome</th>
            
          </tr>
        </thead>
        <tbody *ngFor="let produto of prd">
          <tr *ngFor="let p of produto">
            <td>$</td>
            <td >{{p.prod.nome}}</td>
            
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Fim Form -->
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>