<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <!-- Inicio Form -->

      <form class="form-horizontal">
        <fieldset>
          <!-- Form Name -->
          <legend>Cadastro Reforço</legend>
        
          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="rostcp">Tcp</label>
            <div class="col-md-6">
              <select id="rostcp" name="rostcp" [(ngModel)]="refo.tcp" class="form-control">
                <option *ngFor="let tcpo of tcpK | async" [value]="tcpo.key">{{tcpo.tcp.tcp.nome}}</option>
              </select>
            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="rosprod">Produto</label>
            <div class="col-md-6">
              <select id="rosprod" name="rosprod" [(ngModel)]="refo.produto" class="form-control">
                <option *ngFor="let prd of prdK | async" [value]="prd.key">{{prd.produto.produto.nome}}</option>
              </select>
              <br>
              <a class="btn btn-xs btn-warning" (click)="addprdR(refo.produto)">
                <span class="glyphicon glyphicon-plus"></span> Adicionar Produto </a>
            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="rosvend">Vendedor</label>
            <div class="col-md-4">
              <select id="rosvend" name="rosvend" [(ngModel)]="refo.vendedor" class="form-control">
                <option value="Tatiana">Tatiana</option>
                <option value="Juliana">Juliana</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="rosdata">Data Do Reforço</label>
            <div class="col-md-4">
              <input type="text" 
                    placeholder="dd/mm/yyyy" 
                    class="form-control" 
                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" 
                    [(ngModel)]="refo.data"
                    name="refodata" 
                    bsDatepicker>
            </div>
          </div>

          <!-- Button (Double) -->
          <div class="form-group" *ngIf="this.keybind === undefined">
            <label class="col-md-4 control-label" for="rosave"></label>
            <div class="col-md-8">
              <button id="rosave" name="rosave" (click)="saveondb()" class="btn btn-success">Salvar</button>
              <button id="roslimpar" name="roslimpar" (click)="clear()" class="btn btn-danger">Limpar</button>
            </div>
          </div>

          <!-- Button (Double) -->
          <div class="form-group" *ngIf="this.keybind != undefined">
              <label class="col-md-4 control-label" for="rosave"></label>
              <div class="col-md-8">
                <button id="rosave" name="rosave" (click)="update()" class="btn btn-primary">Editar</button>
                <button id="roslimpar" name="roslimpar" (click)="clear()" class="btn btn-danger">Limpar</button>
              </div>
            </div>
        </fieldset>
      </form>

    </div>


    <!-- CARD OS -->
    <div class="card col-sm-6">
      <div *ngIf="layRF === false">
        <br>
        <a class="btn btn-sm btn-default" (click)="layT()"><span class="glyphicon glyphicon-transfer"></span> Produtos</a>
        <legend class="legend">Dados da Ordem De Serviço</legend>
        <div class="container" *ngFor="let item of osK | async">
          <h3 *ngIf="item.os.nome != undefined">
            <b>Nome : {{item.os.nome}}</b>
          </h3>
          <h4 *ngIf="item.os.praga != undefined">Praga: {{item.os.praga}}</h4>
          <h4 *ngIf="item.os.vendedor != undefined">Vendedor: {{item.os.vendedor}}</h4>
          <h4 *ngIf="item.os.registro != undefined">Registro: {{item.os.registro}}</h4>
          <h4 *ngFor="let ittcp of item.tcp | async">TCP: {{ittcp.nome}}</h4>
          <h4 *ngFor="let itprod of item.produto | async">Produto: {{itprod.nome}}</h4>
          <h4 class="foth4" *ngIf="item.os.data != undefined">Data de execução: {{item.os.data}}</h4>
          <h4>Produtos: </h4>
          <ul *ngFor="let pd of produtos$">
            <li *ngFor="let p of pd" >{{p.prod.nome}}</li>
          </ul>
          <br>
        </div>
      </div>
      <div *ngIf="layRF === true">
          <div *ngIf="prdArray != undefined && prdArray.length > 0">
            <br>
              <a class="btn btn-sm btn-default" (click)="layF()"><span class="glyphicon glyphicon-transfer"></span> OS</a>
              <h4>Produtos Usados: </h4>
              <div class="table-responsive text-center">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th>#</th>
                      <th>Nome</th>
                      <th>Ação</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let produto of prdREF$">
                    <tr *ngFor="let p of produto">
                      <td>$</td>
                      <td>{{p.prod.nome}}</td>
                      <td>
                        <a (click)="rmprdR(p.key)" class="btn btn-xs btn-danger">
                          <span class="glyphicon glyphicon-minus-sign"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
      </div>
      
    </div>
    <!-- FIM CARD OS -->

  </div>
  <br>
  <div class="row">
    <div class="table-responsive text-center">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Data</th>
            <th>Tcp</th>
            <th>Vendedor</th>
            <th>Produto</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of refK | async">
          <tr>
            <td>$</td>
            <td>{{item.ref.refo.data}}</td>
            <td *ngFor="let ittcp of item.tcp | async">{{ittcp.nome}}</td>
            <td>{{item.ref.refo.vendedor}}</td>
            <td><a (click)="modalprod(item)" class="btn btn-sm btn-info">
                <span class="glyphicon glyphicon-th-large"></span> Exibir</a></td>
            <td>
              <a class="btn btn-sm btn-primary" (click)="blind(item)">
                <span class="glyphicon glyphicon-plus-sign"></span> Editar </a>
              <a class="btn btn-sm btn-danger" (click)="remove(item)">
                <span class="glyphicon glyphicon-trash"></span> Excluir</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>