body {
    margin: 0px
}
.container {
    width: 100%;
    height: 82vh;
    background-image: url('../../assets/res/img/bgo1.png');
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    background-size: 100%; 
    background-repeat: no-repeat;
    
}
.login__page {
    width: 300px;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;

    
}