<div class="bg">
<div class="main__body">
  <div class="container">

    <div class="">
      <div class="row">
          <div class="login__page">
            <div class="login__card">
              <div class="card-block">

                  <form name="userform" method="post" #formCtrl="ngForm">
                    <h1 align="center">Login</h1>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" [(ngModel)]="user.email" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="Password" required>
                    </div>

                    <div class="form-group">
                        <button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="signInWithEmail()" [disabled]="formCtrl.form.invalid">
                          Login
                        </button>
                    </div>
                    

                    <!-- <div class="form-group">
                        <button type="buton" class="btn btn-block" (click)="signInWithFacebook()">
                          <i class="fa fa-facebook" aria-hidden="true"></i> 
                          Login with Facebook
                        </button>

                        <button type="button" class="btn btn-block" (click)="signInWithTwitter()">
                          <i class="fa fa-twitter" aria-hidden="true"></i>
                          Login with Twitter
                        </button>

                        <button type="button" class="btn btn-block" (click)="signInWithGithub()">
                          <i class="fa fa-github" aria-hidden="true"></i>
                          Login with Github
                        </button> -->

                        <!-- <button type="button" class="btn btn-block" (click)="signInWithGoogle()">
                          <i class="fa fa-google" aria-hidden="true"></i>
                          Login with Google
                        </button>
                    </div>                   -->
                  </form>
                  
              </div>
            </div>
          </div>

      </div>
    </div> <!-- end card -->

  </div>  <!-- end container -->
</div> 
</div>