<div class="navy">
    <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li routerLinkActive="active"><a [routerLink] = "['/home']">Home</a></li>
                    <li routerLinkActive="active"><a [routerLink] = "['/TCP']">TCP</a></li>
                    <!-- <li routerLinkActive="active"><a [routerLink] = "['/user']">Users</a></li> -->
                    <li routerLinkActive="active"><a [routerLink] = "['/os']">Ordem De Serviço</a></li>
                    <li class="active" routerLinkActive="active"><a [routerLink] = "['/produtos']">Produtos</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li routerLinkActive="active"><a [routerLink] = "['/']" (click)="logout()">Logout</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
</div>
<div class="container">
<form class="form-horizontal">
  <fieldset>
  
  <!-- Form Name -->
  <legend>Cadastro De Produtos</legend>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="fpnome">Nome do produto</label>  
    <div class="col-md-4">
    <input id="fpnome" name="fpnome" type="text" [(ngModel)]="prod.nome" placeholder="" class="form-control input-md">
      
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="fpunmedida">Unidade De Medida</label>  
    <div class="col-md-2">
    <input id="fpunmedida" name="fpunmedida" type="text" [(ngModel)]="prod.unmedida" placeholder="Ex: L,Cm,Un" class="form-control input-md">
      
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="fpregistro">Registro</label>  
    <div class="col-md-2">
    <input id="fpregistro" name="fpregistro" type="text" [(ngModel)]="prod.registro" placeholder="ID NEOS" class="form-control input-md">
      
    </div>
  </div>
  
  <!-- Button (Double) -->
  <div class="form-group" *ngIf="this.keybind === undefined">
    <label class="col-md-4 control-label" for="fpsave"></label>
    <div class="col-md-8">
      <button id="fpsave" name="fpsave" (click)="saveondb()" class="btn btn-success">Salvar</button>
      <button id="fpclear" name="fpclear" (click)="clear()" class="btn btn-danger">Limpar</button>
    </div>
  </div>

  <div class="form-group" *ngIf="this.keybind != undefined">
    <label class="col-md-4 control-label" for="fpsave"></label>
    <div class="col-md-8">
      <button id="fpsave" name="fpsave" (click)="update()" class="btn btn-primary">Editar</button>
      <button id="fpclear" name="fpclear" (click)="clear()" class="btn btn-danger">Limpar</button>
    </div>
  </div>
  
  </fieldset>
  </form>
  <div class="table-responsive text-center">
    <table class="table">
      <thead class="thead-dark">
        <tr >
          <th>#</th>
          <th>Nome</th>
          <th>Registro</th>
          <th>Unidade de medida</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of prdK | async">
        <tr>
          <td>$</td>
          <td>{{item.prd.produto.nome}}</td>
          <td>{{item.prd.produto.registro}}</td>
          <td>{{item.prd.produto.unmedida}}</td>
          <td><a class="btn  btn-primary" (click)="blind(item)"><span class="glyphicon glyphicon-plus-sign"></span> Editar </a><a class="btn  btn-danger" (click)="remove(item)"><span class="glyphicon glyphicon-trash"></span> Excluir</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>