<div class="">

  <!-- Início do header -->
  <app-header></app-header>
    <div class="">

      <router-outlet></router-outlet>

    </div>
  <br><br>
  <div class="row"></div>
  <footer class="footer navbar-fixed-bottom navbar navbar-default navbar-fnt text-align ">
    <br/>
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version: </b> BETA 0.1
      </div>
      <strong>ATCO</strong> Analisador De Desempenho De TCPs
    </div>
  </footer>
</div>