<div class="container">
  <form class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Cadastro Usuario</legend>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="floginuser">Login</label>  
      <div class="col-md-4">
      <input id="floginuser" [(ngModel)]="user.Login" name="fulogin" type="text" placeholder="Login" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="freguser">Registro</label>  
      <div class="col-md-2">
      <input id="freguser" [(ngModel)]="user.Registro" name="fureg" type="text" placeholder="ID NEOS" class="form-control input-md">
      </div>
    </div>
    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="fuserp">Permissão </label>
      <div class="col-md-2">
        <select id="fuserp" [(ngModel)]="user.Permissao" name="fuperm" class="form-control">
          <option value="Admin">Admin</option>
          <option value="Suport">Suport</option>
          <option value="Usuario">Usuario</option>
        </select>
      </div>
    </div>
    
    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="fpuser">Senha</label>
      <div class="col-md-3">
        <input id="fpuser" [(ngModel)]="user.Senha" name="fupass" type="password" placeholder="**********" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="fppuser">Confirme a senha</label>
      <div class="col-md-3">
        <input id="fppuser"  type="password" [(ngModel)]="ppas" name="fuppas"placeholder="**********" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- Button (Double) -->
    <div class="form-group" *ngIf="this.keybind === undefined">
      <label class="col-md-4 control-label" for="busersave"></label>
      <div class="col-md-8">
        <button id="busersave" name="busersave" (click)="saveondb()" class="btn btn-success">Salvar</button>
        <button id="fbuserclear" name="fbuserclear" (click)="clear()" class="btn btn-danger">Limpar</button>
      </div>
    </div>
    <div class="form-group" *ngIf="this.keybind != undefined">
        <label class="col-md-4 control-label" for="busersave"></label>
        <div class="col-md-8">
          <button id="busersave" name="busersave" (click)="update()" class="btn btn-primary">Editar</button>
          <button id="fbuserclear" name="fbuserclear" (click)="clear()" class="btn btn-danger">Limpar</button>
        </div>
      </div>
    </fieldset>
    </form>
    
</div>

<div class="table-responsive text-center">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Login</th>
        <th>Permissão</th>
        <th>Senha</th>
        <th>Registro</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of userK | async">
      <tr>
        <td>$</td>
        <td>{{item.user.user.Login}}</td>
        <td>{{item.user.user.Permissao}}</td>
        <td>{{item.user.user.Senha}}</td>
        <td>{{item.user.user.Registro}}</td>
        <td><a class="btn  btn-primary" (click)="blind(item)"><span class="glyphicon glyphicon-plus-sign"></span> Editar </a><a class="btn  btn-danger" (click)="remove(item)"><span class="glyphicon glyphicon-trash"></span> Excluir</a></td>
      </tr>
    </tbody>
  </table>
</div>