<div class="navy">
    <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li routerLinkActive="active"><a [routerLink] = "['/home']">Home</a></li>
                    <li class="active" routerLinkActive="active"><a [routerLink] = "['/TCP']">TCP</a></li>
                    <!-- <li routerLinkActive="active"><a [routerLink] = "['/user']">Users</a></li> -->
                    <li routerLinkActive="active"><a [routerLink] = "['/os']">Ordem De Serviço</a></li>
                    <li routerLinkActive="active"><a [routerLink] = "['/produtos']">Produtos</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li routerLinkActive="active"><a [routerLink] = "['/']" (click)="logout()">Logout</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
</div>
<div class="container">
<form form  class="form-horizontal">
  <fieldset>
  
  <!-- Form Name -->
  <legend>Cadastro TCP</legend>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="nometcp">Nome TCP</label>  
    <div class="col-md-5">
    <input id="nometcp" [(ngModel)]="tcp.nome" name="nometcp" type="text" placeholder="" class="form-control input-md">
      
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="regtcp">Registro TCP</label>  
    <div class="col-md-2">
    <input id="regtcp" name="regtcp" [(ngModel)]="tcp.registro" type="text" placeholder="ID SIGO" class="form-control input-md">
      
    </div>
  </div>
  
  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="niveltcp">Nivel TCP</label>
    <div class="col-md-2">
      <select id="niveltcp" [(ngModel)]="tcp.nivel" name="niveltcp" class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
  </div>
  
  <!-- Button (Double) -->
  <div class="form-group"*ngIf="this.keybind === undefined">
    <label class="col-md-4 control-label" for="savetcp"></label>
    <div class="col-md-8">
      <button id="savetcp" name="savetcp" (click)="savedata()" class="btn btn-success">Salvar</button>
      <button id="cleartcp" name="cleartcp" (click)="clear()" class="btn btn-danger">Limpar</button>
    </div>
  </div>
  <div class="form-group"*ngIf="this.keybind != undefined">
      <label class="col-md-4 control-label" for="savetcp"></label>
      <div class="col-md-8">
        <button id="savetcp" name="savetcp" (click)="update()" class="btn btn-primary">Editar</button>
        <button id="cleartcp" name="cleartcp" (click)="clear()" class="btn btn-danger">Limpar</button>
      </div>
    </div>
  
  </fieldset>
  </form>

  <div class="table-responsive text-center">
    <table class="table">
      <thead class="thead-dark">
        <tr >
          <th>#</th>
          <th>Nome</th>
          <th>Registro</th>
          <th>Nivel</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of tcpK | async">
        <tr>
          <td>$</td>
          <td>{{item.tcp.tcp.nome}}</td>
          <td>{{item.tcp.tcp.registro}}</td>
          <td>{{item.tcp.tcp.nivel}}</td>
          <td><a class="btn  btn-primary" (click)="blind(item)"><span class="glyphicon glyphicon-plus-sign"></span> Editar </a><a class="btn  btn-danger" (click)="remove(item)"><span class="glyphicon glyphicon-trash"></span> Excluir</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>