<div class="navy">
    <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->  
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li routerLinkActive="active"><a [routerLink] = "['/home']">Home</a></li>
                    <li routerLinkActive="active"><a [routerLink] = "['/TCP']">TCP</a></li>
                    <!-- <li routerLinkActive="active"><a [routerLink] = "['/user']">Users</a></li> -->
                    <li class="active" routerLinkActive="active"><a [routerLink] = "['/os']">Ordem De Serviço</a></li>
                    <li routerLinkActive="active"><a [routerLink] = "['/produtos']">Produtos</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li routerLinkActive="active"><a [routerLink] = "['/']" (click)="logout()">Logout</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <form class="form-horizontal">
        <fieldset>
          <!-- Form Name -->
          <legend>Cadastro De Ordem De Serviço</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="fosnome">Nome</label>
            <div class="col-md-8">
              <input id="fosnome" name="fosnome" [(ngModel)]="os.nome" type="text" placeholder="" class="form-control input-md">

            </div>
          </div>

          <!-- Data input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="fosdata">Data Da O.S.</label>
            <div class="col-md-3">
              <input type="text" placeholder="dd/mm/yyyy" class="form-control" name="fosdata" [(ngModel)]="os.data" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                bsDatepicker>
            </div>
          </div>


          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="fostcp">Tcp</label>
            <div class="col-md-4">
              <select id="fostcp" name="fostcp" [(ngModel)]="os.tcp" class="form-control">
                <option *ngFor="let tcpo of tcpK | async" [value]="tcpo.key">{{tcpo.tcp.tcp.nome}}</option>
              </select>
            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="fostcp">Produto</label>
            <div class="col-md-4">
              <select id="fosproduto" name="fosproduto" [(ngModel)]="os.produto" class="form-control">
                <option *ngFor="let prd of prdK | async" [value]="prd.key">{{prd.produto.produto.nome}}</option>
              </select>
            </div>
            <a class="btn btn-xs btn-warning" (click)="addprd(os.produto)">
              <span class="glyphicon glyphicon-plus"></span> Adicionar Produto </a>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="fosvendedor">Vendedor</label>
            <div class="col-md-4">
              <select id="fosvendedor" name="fosvendedor" [(ngModel)]="os.vendedor" class="form-control">
                <option value="Tatiane">Tatiane</option>
                <option value="Juliana">Juliana</option>
              </select>
            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="fospraga">Praga</label>
            <div class="col-md-4">
              <select id="fospraga" name="fospraga" [(ngModel)]="os.praga" class="form-control">
                <option value="Barata">Barata</option>
                <option value="Rato">Rato</option>
                <option value="Formiga">Formiga</option>
                <option value="Carrapato">Carrapato</option>
                <option value="Aranha">Aranha</option>
                <option value="Caruncho">Caruncho</option>
                <option value="Escorpião">Escorpião</option>
                <option value="Morcego">Morcego</option>
                <option value="Traça">Traça</option>
              </select>
            </div>
            <a class="btn btn-xs btn-warning" (click)="addpr(os.praga)">
              <span class="glyphicon glyphicon-plus"></span> Adicionar Praga</a>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="fosreg">Registro</label>
            <div class="col-md-3">
              <input id="fosreg" name="fosreg" type="text" placeholder="" [(ngModel)]="os.registro" class="form-control input-md">

            </div>
          </div>

          <!-- Button (Double) -->
          <div class="form-group" *ngIf="this.keybind === undefined">
            <label class="col-md-4 control-label" for="fossave"></label>
            <div class="col-md-8">
              <button id="fossave" name="fossave" (click)="saveondb()" class="btn btn-success">Salvar</button>
              <button id="foslimpar" name="foslimpar" (click)="clear()" class="btn btn-danger">Limpar</button>
            </div>
          </div>

          <div class="form-group" *ngIf="this.keybind != undefined">
            <label class="col-md-4 control-label" for="fossave"></label>
            <div class="col-md-8">
              <button id="fossave" name="fossave" (click)="update()" class="btn btn-primary">Editar</button>
              <button id="foslimpar" name="foslimpar" (click)="clear()" class="btn btn-danger">Limpar</button>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <div *ngIf="prarray != undefined && prarray.length > 0">
            <p>Pragas encontradas</p>
            <div class="table-responsive text-center">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Ação</th>
                  </tr>
                </thead>
                <tbody *ngFor="let pa of prarray">
                  <tr>
                    <td>$</td>
                    <td>{{pa}}</td>
                    <td>
                      <a (click)="rmpr(pa)" class="btn btn-xs btn-danger">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div *ngIf="prdarray != undefined && prdarray.length > 0">
            <p>Produtos Usados</p>
            <div class="table-responsive text-center">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Ação</th>
                  </tr>
                </thead>
                <tbody *ngFor="let produto of produtos$">
                  <tr *ngFor="let p of produto">
                    <td>$</td>
                    <td>{{p.prod.nome}}</td>
                    <td>
                      <a (click)="rmprd(p.key)" class="btn btn-xs btn-danger">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive text-center">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Data</th>
            <th>Tcp</th>
            <th>Vendedor</th>
            <th>Praga</th>
            <th>Produto</th>
            <th>Registro</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of osK | async">
          <tr>
            <td>$</td>
            <td>{{item.os.os.nome}}</td>
            <td>{{item.os.os.data}}</td>
            <td *ngFor="let ittcp of item.tcp | async">{{ittcp.nome}}</td>
            <td>{{item.os.os.vendedor}}</td>
            <td>{{item.os.os.praga}}</td>
            <td>
              <a (click)="modalprod(item)" class="btn btn-sm btn-info">
                <span class="glyphicon glyphicon-th-large"></span> Exibir</a>
            </td>
            <td>{{item.os.os.registro}}</td>
            <td>
              <a class="btn btn-sm btn-primary" (click)="blind(item)">
                <span class="glyphicon glyphicon-plus-sign"></span> Editar </a>
              <a class="btn btn-sm btn-danger" (click)="remove(item)">
                <span class="glyphicon glyphicon-trash"></span> Excluir</a>
              <a class="btn btn-sm btn-warning" routerLinkActive="active" [routerLink]="['/reforco/',item.key]">
                <span class="glyphicon glyphicon-fire"></span> Adicionar Reforço</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>