<div class="navy">
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                   
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active" routerLinkActive="active"><a [routerLink] = "['/home']">Home</a></li>
                        <li routerLinkActive="active"><a [routerLink] = "['/TCP']">TCP</a></li>
                        <!-- <li routerLinkActive="active"><a [routerLink] = "['/user']">Users</a></li> -->
                        <li routerLinkActive="active"><a [routerLink] = "['/os']">Ordem De Serviço</a></li>
                        <li routerLinkActive="active"><a [routerLink] = "['/produtos']">Produtos</a></li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li routerLinkActive="active"><a [routerLink] = "['/']" (click)="logout()">Logout</a></li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>
</div>
<div class="">
  
  
  <p class="text-center"><img class="chartbg" src="../../assets/res/img/graph_remove_12942.png" alt=""></p>
  <p class="text-center"> <u>MANUTENÇÃO...</u></p> 
</div>
